
<%- include('layout', { body: `
    <div class="docs-section" id="utilities">
        <h6 class="docs-header">About</h6>
        <ul>
            <li><a href="https://www.linkedin.com/in/jademontagu/">LinkedIn</li>
            <li><a href="http://github.com/jmontagu">GitHub</a></li>
        </ul>
    </div>
` }) %>
